---
import Layout from "../layouts/main.astro";
---

<Layout title="404 - Page Not Found!" description="Well that's spooky!">
    <p>
        Well that's spooky! The page you were looking for does not exist! Go
        back <a href="/">Home</a> to safety.
    </p>
</Layout>
