---
import Layout from "../layouts/main.astro";
---

<Layout
    title="About Us"
    description="Information about SpookyJam and the team behind it."
>
    <p>
        SpookyJam is an annual modjam held in celebration of the fall season and
        the modded Minecraft community. During SpookyJam we encourage members of
        the community to create new mods that incorporate themes associated with
        the fall season. Our goal is to bring the community together and
        encourage mod developers to challenge themselves and further hone their
        skills and abilities. We also encourage mod developers to work together,
        give eachother feedback, and form new friendships.
    </p>

    <h2>History</h2>
    <p>
        The SpookyJam event was created in 2017 by Darkhax as a continuation of
        his own personal tradition. Every October he would try to make a new mod
        that fit with the Halloween season or update one of his existing mods
        with new spooky features and easter eggs. As the modding community began
        to grow and platforms like Discord made it easier to organize events and
        communities he decided to extend the tradition to the rest of the
        community.
    </p>
    <p>
        While many of his older pre-spookyjam mods are considered lost media,
        you can still find video reviews of them on <a
            href="https://www.youtube.com/watch?v=u5KyYxi5sxU"
            target="_blank">YouTube</a
        >.
    </p>
</Layout>
