---
import Layout from "../layouts/main.astro";
---

<Layout
    title="Events"
    description="A list of all past and current SpookyJam events!"
>
    <h2>Current Events</h2>
    <p>
        SpookyJam 2022 is scheduled to take place in October 2022! Check back
        later for more information or join our Discord to keep up with the
        latest information about SpookyJam and our other events!
    </p>

    <h2>Past Events</h2>
    <ul>
        <li><a href="/events/2021">2021</a></li>
        <li><a href="/events/2020">2020</a></li>
        <li><a href="/events/2019">2019</a></li>
        <li><a href="/events/2018">2018</a></li>
        <li><a href="/events/2017">2017</a></li>
    </ul>
</Layout>
