---
import Layout from "../layouts/main.astro";
import PreviousEventCard from "../components/PreviousEventCard.astro";
import {DISCORD} from "../config";
import Timer from "../components/Timer.astro";
---

<Layout
    title="Events"
    description="A list of all past and current SpookyJam events!"
>
    <h2 id="current-events">Current Events</h2>

    <p>
        SpookyJam 2024 will be coming later this year. More information will be announced here closer to the event.
    </p>

    <h2 id="past-events">Past Events</h2>
    <div class="mb-6 sm:mb-12 p-2 w-full">
        <div class="grid grids-cols-2 lg:grid-cols-3 gap-y-5 sm:gap-x-6 mt-6">
            <PreviousEventCard event="2023" left="" center="" right=""/>
            <PreviousEventCard event="2022" left="Gardens of the Dead" center="Bone Zone" right = "Broglis Owls"/>
            <PreviousEventCard event="2021" left="Aylyth" center="Deep In The Night" right = "Haunted Harvest"/>
            <PreviousEventCard event="2020" left="Froglins" center="Pumpkin Spice Everything" right = "Mystical Pumpkins"/>
            <PreviousEventCard event="2019" left="Wither Skeleton Totem" center="Thrillager" right = "Whisperwoods"/>
            <PreviousEventCard event="2018" left="The Midnight" center="Harvester's Night" right = "Eerie Entities"/>
            <PreviousEventCard event="2017" left="SpookyCraft" center="Trumpet Skeleton" right = "Nightmares"/>
        </div>
    </div>
</Layout>
