---
import Layout from "../layouts/main.astro";
import {DISCORD} from "../config";
import Timer from "../components/Timer.astro";
---

<Layout title="SpookyJam" description="The official home of the annual SpookyJam mod jam!">

    <p>
        SpookyJam is an annual Minecraft mod jam held in celebration of the fall season. Each fall we invite modders of
        all skill levels to join us in creating mods that are spooky, mysterious, or fit with the autumn vibes. Our goal
        is to foster a sense of community while encouraging modders to push their creative boundaries and refine their
        craft.
    </p>

    <h2 id="next-event">SpookyJam 2024</h2>
    <p>
        The next SpookyJam event will begin on October 1st! We look forward to celebrating with the community and hope
        you will join us! You can learn more about the event <a href="/events/2024">here</a>. We also recommend joining
        the <a href={DISCORD}>Discord</a> server to keep up with the latest news and conversations surrounding the event
        .
    </p>
    <Timer date={Date.UTC(2024, 9, 1, 0, 0, 0) - (12 * 60 * 60 * 1000)}>
        <p>
            SpookyJam 2024 has officially started! You may now start working on your submissions. You will have until
            the end of October to submit your entry. We recommend submitting your entry as soon as possible so players
            can have time to enjoy your mods.
        </p>
    </Timer>
</Layout>
