---
import Layout from "../layouts/main.astro";
import { DISCORD } from "../config";
import Countdown from 'react-countdown';
---

<Layout
	title="SpookyJam"
	description="The official home of the annual SpookyJam mod jam!"
>
	<h2>Introduction</h2>
	<p>
		SpookyJam is an annual Minecraft mod jam that takes place every fall.
		During the month of October the modding community is encouraged to make
		mods that fit with the seasonal vibes. Participants of SpookyJam are
		encouraged to collaborate, learn new skills, and challenge themselves.
		During this event we also host a public Minecraft server where anyone
		can join out and check out the submissions with their friends and the
		modded Minecraft community.
	</p>
	<br>
	<Countdown client:only = 'react' date={Date.UTC(2022, 9, 1, 0, 0, 0)} />
	<br>
	<p>For more information join our <a href={DISCORD}>Discord</a>.</p>
</Layout>