---
import Layout from "../layouts/main.astro";
import { DISCORD } from "../config";
import Timer from "../components/Timer.astro";
---

<Layout
	title="SpookyJam"
	description="The official home of the annual SpookyJam mod jam!"
>

	<p>
		SpookyJam is an annual Minecraft mod jam held in celebration of the fall season and the modded Minecraft
		community. During SpookyJam we encourage community members to create new mods that are spooky, mysterious, or
		give off autumn vibes. Our goal is to bring the community together and encourage mod developers to challenge
		themselves and further hone their skills and abilities. We also encourage the community to work together,
		collaborate, and form new friendships.
	</p>

	<p class="mt-16">
		SpookyJam 2023 will be officially announced soon! Please check back for more information later.
	</p>
</Layout>
