---
import Layout from "../layouts/main.astro";
---

<Layout
    title="Privacy Policy"
    description="Information about how we will use your personal data."
>
    <p>
        This privacy policy applies to the SpookyJam event, our website
        spooky-jam.com, and other related services operated by SpookyJam that
        link to this policy. We reserve the right to revise, modify, and amend
        this policy at any time and in any manner. This policy was last updated
        2022-09-21.
    </p>

    <h2>Contact</h2>
    <p>
        SpookyJam is hosted by the Mycelium Mod Network. If you have any
        questions or concerns about our privacy policy or our related services
        you may contact us using our Discord server or our Twitter account.
    </p>

    <h2>Personal Data</h2>
    <p>
        As part of SpookyJam we will collect personal data from users and
        participants. We will only collect the necessary data to provide a
        feature or service. This data will be stored, processed, and shared as
        outlined in this policy.
    </p>

    <h2>Types of Data</h2>
    <p>We classify personal data into the following distinct categories.</p>

    <h3>Requested Data</h3>
    <p>
        SpookyJam will request personal data from users when necessary to
        provide a feature or service. For example we require the shipping
        address of a participant in order to ship out physical prizes. Requested
        data includes usernames, email addresses, user IDs, shipping
        information, service usage, and cookies.
    </p>

    <h3>Processed Data</h3>
    <p>
        In some cases SpookyJam will process personal data to derive additional
        information. We may also process personal data to produce anonymized
        aggregate data. An example of anonymized aggregate data would be
        processing shipping information to derive the number of unique countries
        with participants in the event. Another example would be tracking game
        server usage information to derive what items players are crafting the
        most.
    </p>

    <h3>3rd Party Data</h3>
    <p>
        SpookyJam integrates 3rd party services that are governed by their own
        privacy policy. These 3rd party services can collect and process data
        independently from SpookyJam and our privacy policy. You can learn more
        about these third party services in our detailed information section.
    </p>

    <h2>Retention Time</h2>
    <p>
        SpookyJam will only retain personal data for the duration of time
        necessary to provide related features and services unless a longer
        retention period is required. A longer retention period may be required
        in the following situations.
    </p>

    <ul>
        <li>Complying with legal or regulatory requirements.</li>
        <li>Preventing fraud or abuse.</li>
        <li>Financial record keeping.</li>
    </ul>

    <h2>Sell and Transfer</h2>
    <p>
        Personal data collected by SpookyJam will never be sold to third
        parties. In some cases we may share personal data with third parties
        when required to provide a feature or service. We may also share
        anonymized aggregate data which has been stripped of any personally
        identifying information and can not be linked to any individual user in
        any reasonable capacity. Third parties are subject to their own privacy
        policies.
    </p>

    <h2>Detailed Data Usage</h2>

    <h3>Analytics and Usage Data</h3>
    <p>
        SpookyJam tracks a number of analytical data points. This data is used
        to help us monitor the platform for abuse or issues. This information
        mal also be processed to create anonymous statistics that we use to
        improve or market our events. This data may include user IP addresses,
        session IDs, and activity timestamps. This analytics data is tracked and
        stored using an internal service and not a third party.
    </p>
    
    <h3>Minecraft Servers</h3>
    <p>
        As part of SpookyJam we host and operate several public Minecraft game
        servers. We collect several points of data from these servers including
        usernames, player deaths, and crafted items. In addition to this data we
        also collect all of the standard data required to operate a Minecraft
        server such as game logs and save data.
    </p>
    <p>
        The game Minecraft and their server software is operated by Mojang and
        are subject to the Microsoft <a
            href="https://privacy.microsoft.com/en-us/privacystatement"
            target="_blank">privacy policy</a
        >.
    </p>
    <p>
        Our Minecraft servers are hosted using Nodecraft which may also collect
        personal data to provide game hosting and administrator services.
        Nodecraft is subject to their own <a
            href="https://nodecraft.com/legal/privacy-policy"
            target="_blank">privacy policy</a
        >.
    </p>

    <h3>Google Services</h3>
    <p>
        SpookyJam uses a number of Google services such as Google Forms and
        Google Sheets to collect and store responses and feedback from
        participants. We will share this data with third party partners when
        necessary for them to provide a service on our behalf. For example
        participant records and shipping addresses may be shared to allow third
        parties to verify and reward participants. The Google services are bound
        by Google's <a
            href="https://policies.google.com/privacy"
            target="_blank">privacy policy</a
        >.
    </p>

    <h3>Discord</h3>
    <p>
        SpookyJam uses Discord as the central hub for communication and
        discussion. We may process data from Discord to to monitor and gauge
        activity over time. Discord is a third party service and is bound by
        their own <a href="https://discord.com/privacy" target="_blank"
            >privacy policy</a
        >.
    </p>

    <h3>Cloudflare</h3>
    <p>
        SpookyJam uses Cloudflare to host and proxy our web traffic. This allows
        us to protect our servers from malicious attacks while also improving
        the quality and availability of our web services. Cloudflare collects
        personal data from visitors including DNS level analytics of our
        services. The data collected by Cloudflare is subject to their own <a
            href="https://www.cloudflare.com/privacypolicy"
            target="_blank">privacy policy</a
        >.
    </p>
</Layout>
