---
---

<aside class = 'border-2 border-amber-800 bg-amber-900 bg-opacity-25 p-2 divide-y divide-amber-800'>
    <h1 class = 'text-lg my-0'>ARCHIVE NOTICE</h1>
    <p class = 'my-0 text-base'>
        The contents of this page have been archived for historical purposes. Any rules, guidelines, or promotions shown
        here are not ongoing and do not apply to current or future events.
    </p>
</aside>