---

export interface Props {
	author: string,
    isLast: boolean
}

const { author, isLast, ...props } = Astro.props as Props;

function truncate(str: string, max = 100): string {
    return str.length > max ? `${str.substring(0, max)}...` : str;
}
---
<a class= 'font-bold text-xs' href={`https://www.curseforge.com/members/${author}/projects`}>{author}</a>{!isLast ? ', ' : ''}