---
import type { Member } from '../util/curseforge.js';

export interface Props {
	author: Member,
    isLast: boolean
}

const { author, isLast, ...props } = Astro.props as Props;

function truncate(str: string, max = 100): string {
    return str.length > max ? `${str.substring(0, max)}...` : str;
}
---
<a class= 'font-bold text-base sm:text-xl' href={`https://www.curseforge.com/members/${author.username}/projects`}>{author.username}</a>{!isLast ? ', ' : ''}