---
import HeaderLink from "./NavLink.astro";
import { DISCORD, TWITTER, GITHUB } from "../config";
const navlinks = [
	{
		title: "Home",
		url: "/",
		newTab: false
	},
	{
		title: "Events",
		url: "/events",
		newTab: false
	},
	{
		title: "Submissions",
		url: "/submissions_list",
		newTab: false
	},
	{
		title: "Discord",
		url: DISCORD,
		newTab: true
	},
	{
		title: "GitHub",
		url: GITHUB,
		newTab: true
	}
]
---

<nav class = 'bg-gray-900 bg-opacity-75 text-white w-full'>

	
	<!-- Non-Mobile Navbar -->
	<div class='hidden lg:block'>

		<div class='lg:grid sm:grid-colls-3 w-full px-4 pt-1 pb-2'>
			<div class='flex px-4 gap-x-4 text-xl font-bold'>
				<img class = 'm-0 p-0' width='32' height='54' src="/ghost_logo.png"/>
				{navlinks.map((link) => (
					<HeaderLink class = 'my-auto' href={link.url} target={link.newTab ? '_blank' : undefined}>{link.title}</HeaderLink>
				))}
			</div>
		</div>
	</div>

	<!-- Mobile Navbar -->
	<div class='lg:hidden'>
		
		<div class='flex justify-end p-3 px-4'>
			<svg id = 'hamburger' class="hamburger w-9 h-9 text-yellow-700 border-2 rounded-lg border-yellow-700" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
				<path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16"/>
			</svg>
		</div>

		<div class='sidebar hidden bg-gray-800'>
			<div class = 'grid grid-cols-2 font-bold text-center text-xl'>
				{navlinks.map((link) => (
					<HeaderLink class = 'my-auto block' href={link.url} target={link.newTab ? '_blank' : undefined}>{link.title}</HeaderLink>
				))}
			</div>

			<div class='max-w-screen-sm mx-auto'>
				<img class = 'mx-auto' width='42' height='68' src="/ghost_logo.png"/>
			</div>
		</div>
	</div>
</nav>

<script>
    document.getElementsByClassName('hamburger').item(0)?.addEventListener('click', () => {

        var sidebar = document.getElementsByClassName('sidebar').item(0) as HTMLElement;
        sidebar.style.display = sidebar.style.display === 'block' ? 'none' : 'block'
    });
</script>