---
import { fetchModsWithDownloads } from "../util/curseforge.js";
import { SUBMISSIONS } from "../config.js";
import ModCard from "./ModCard.astro";

export interface Props {
	year: string;
}

const { year, ...props } = Astro.props as Props;

const submissionIds = SUBMISSIONS.get(year) ?? [];
const submissions = await fetchModsWithDownloads(submissionIds, import.meta.env.CURSEFORGE_API_KEY);
submissions.sort((a, b) => new Date(b.pubDate).valueOf() - new Date(a.pubDate).valueOf());
const allAuthors = new Set();
submissions.forEach((project) => project.authors.forEach((author) => allAuthors.add(author.name)));
const sum = submissions.reduce((downloads, project) => downloads + project.downloads, 0);
---

<p>
	In {year} we have received {submissions.length} submissions from {
		allAuthors.size
	} different authors! These projects have been cumulatively downloaded {
		sum.toLocaleString("en-US")
	} times! Check out all the awesome submissions below!
</p>

<div class="mb-6 sm:mb-12 p-2 w-full">
	<div class="grid grid-cols-1 lg:grid-cols-2 gap-y-5 sm:gap-x-6 mt-6">
		{submissions.map((project) => <ModCard project={project} />)}
	</div>
</div>
