---
import { fetchMods, type Submission } from "../util/curseforge.js";
import { SUBMISSIONS } from "../config.js";
import ModCard from "./ModCard.astro";

export interface Props {
	year: string;
}

const { year, ...props } = Astro.props as Props;

const submissionIds = SUBMISSIONS.get(year) ?? [];
const submissions: Submission[] = await fetchMods(submissionIds)
submissions.sort((a, b) => new Date(b.created_at).valueOf() - new Date(a.created_at).valueOf());
const allAuthors = new Set();
submissions.forEach((project) => project.members.forEach((author) => allAuthors.add(author)));
const sum = submissions.reduce((downloads, project) => downloads + project.downloads, 0);
---

<p>
	In {year} we have received <strong>{submissions.length}</strong> submissions from <strong>{allAuthors.size}</strong>
	different authors! These projects have been cumulatively downloaded
	<strong>{sum.toLocaleString("en-US")}</strong> times! Check out all the awesome submissions below!
</p>

<div class="mb-6 sm:mb-12 p-2 w-full">
	<div class="grid grid-cols-1 lg:grid-cols-2 gap-y-5 sm:gap-x-4 mt-6">
		{submissions.map((project) => <ModCard project={project} />)}
	</div>
</div>
