---
import SEO from "../components/SEO.astro";
import Navbar from "../components/Navbar.astro";

export interface Props {
	content: {
		title: string;
		description: string;
		pubDate?: string;
		heroImage?: string;
	};
}

const {
	content: { title, description, pubDate, heroImage },
} = Astro.props as Props;
---

<html>
	<head>
		<SEO title={title} description={description} />
	</head>

	<header>
		<Navbar />
	</header>

	<body>
		<main class = 'flex-grow flex justify-center bg-[#1F1F1F] spooky h-screen'>
            <div class = 'w-[96%] xl:w-4/6 mt-2 xl:mt-12'>
                <div class = 'xl:p-8 p-4 bg-gray-800 text-gray-200 text-lg xl:text-xl rounded-2xl'>
					<article>
						<h1 class="title">{title}</h1>
						{pubDate && <time>{pubDate}</time>}
						<hr/>
						<slot />
					</article>
                </div>
            </div>
		</main>
	</body>
</html>
