---
import Layout from "../../layouts/main.astro";
import SubmissionBox from "../../components/SubmissionBox.astro";
import ArchiveNotice from "../../components/ArchiveNotice.astro";
---

<Layout
	title="SpookyJam 2017"
	description="Official information about the first ever SpookyJam event!"
	image="thumbnails/2017.png"
>

	<ArchiveNotice/>
	<h2>Announcement</h2>
	<p>Hello everyone o/</p>
	<p>
		I am happy to announce SpookyJam! This is a mod making event that is set
		to take place during the first week of October. As the name implies,
		participants are encouraged to make spooky/dark/mysterious mods, however
		fall/autumn and other relevant seasonal themes can also be used. Unlike
		similar events, SpookyJam will be a non competitive event. The focus on
		the event is learning new things, challenging yourself, and encouraging
		the creation of new content. Because of this there will be no voting,
		judges, or strictly enforced rules. If we receive enough stable
		submissions we would like to showcase them as part of a modpack and
		potentially throw it on a public server for a short time.
	</p>

	<h2>Rules</h2>
	<ol>
		<li>Mods should make use of the seasonal theme for the event.</li>
		<li>Teams shouldn't be larger than four team members.</li>
		<li>Mods should be made open source and published on GitHub.</li>
		<li>Mods should be made within the 1 week time frame.</li>
		<li>Mods should work on both the client and server.</li>
		<li>
			All assets, including sounds, textures, and code should be created
			during the event. Open sourced assets from before the event are
			allowed.
		</li>
		<li>Any and all libraries are allowed.</li>
		<li>
			The <a
				href="https://twitter.com/search?q=%23SpookyJamMC&src=typed_query&f=live"
				target="_blank">#SpookyJamMC</a
			> hashtag should be used when talking about this event on Twitter.
		</li>
	</ol>

	<h2>Submissions</h2>
	<SubmissionBox year="2017" />

	<h2>Server & Modpack</h2>
	<p>
		The SpookyJam 2017 server was online for a limited period of time during
		October and is no longer accessible. You can still download and play the
		SpookyJam 2017 modpack from <a
			href="https://www.curseforge.com/minecraft/modpacks/spookyjam"
			target="_blank">CurseForge</a
		>
	</p>
</Layout>
