---
import Layout from "../../layouts/main.astro";
import SubmissionBox from "../../components/SubmissionBox.astro";
---

<Layout
    title="SpookyJam 2019"
    description="Official information about the third annual SpookyJam event!"
>
    <h2>Announcement</h2>
    <p>Hello everyone o/</p>
    <p>
        I am happy to announce the third annual SpookyJam event! SpookyJam is
        our fall celebration for the modded minecraft community. During
        SpookyJam mod developers create mods that have a spooky, dark, or
        mysterious theme to them. Mods that fit the fall, autumn, or any other
        seasonally relevant theme are also invited to participate.
    </p>
    <p>
        Unlike similar modding events SpookyJam is non-competitive. The focus of
        SpookyJam is learning new things, challenging yourself, and encouraging
        the creation of new content. As part of the event we will release a
        modpack to showcase participating mods. The pack will also be hosted on
        our event server which will be open to the public to play on.
    </p>
    <p>
        Participants and those following the event should use our Discord and
        the #SpookyJamMC tag on twitter to talk about the event. We will be
        using this tag to share updates and promote posts made by participants
        during the event.
    </p>

    <h2>Rules</h2>
    <p>
        The following list of guidelines are in place to provide a fair
        experience for everyone. While these guidelines are not strictly
        enforced, choosing not to follow them may result in your project being
        excluded from certain parts of the event.
    </p>
    <ol>
        <li>
            Submissions should be created between the 1st of October and the
            31st of October.
        </li>
        <li>Teams are allowed. We recommend keeping to four members.</li>
        <li>Submissions should follow the general theme of SpookyJam.</li>
        <li>All assets and code should be created during the event.</li>
        <li>
            Submissions should run in a server environment without crashing.
        </li>
        <li>
            Submissions should work with Minecraft 1.14.4 and be compatible with
            the latest release of Forge and MCP.
        </li>
        <li>
            You may use any library or dependency you want, but you are
            responsible for issues caused by those dependencies.
        </li>
        <li>
            You must own or have permission to use all code and assets used by
            your submission. This means tools like MCreator are not allowed.
        </li>
    </ol>

    <p>
        Time zones for this event will be counted in the most flexible way. This
        means that the event will start when the first time zone enters October
        1st, and will end when the last time zone exits October 31st.
    </p>

    <h2>Prizes & Rewards</h2>
    <p>
        All participants who make a valid submission will receive a
        `SpookyJam2019` role on Discord. This role is purely visual and meant to
        commemorate the event. Nodecraft has also generously contributed several
        month long server subscription plans that will be given out randomly to
        eligible participants after the event is over.
    </p>
    <p>
        We also encourage everyone participating in SpookyJam to consider taking
        part in Digital Ocean's Hacktoberfest challenge. They will be giving out
        limited edition shirts and stickers to those who complete pull requests.
        Opening pull requests against any open source project on GitHub,
        including mods and other SpookyJam submissions does contribute towards
        their challenge goal. This event is not just for developers! Artists and
        translators can also participate.
    </p>

    <h2>Submissions</h2>
    <SubmissionBox year="2019" />

    <h2>Server & Modpack</h2>
    <p>
        The SpookyJam 2019 server was online for a limited period of time during
        October and is no longer acessible. You can still download and play the
        SpookyJam 2019 modpack from <a
            href="https://www.curseforge.com/minecraft/modpacks/spooky-jam-2019"
            target="_blank">CurseForge</a
        >
    </p>
</Layout>
