---
import Layout from "../../layouts/main.astro";
import SubmissionBox from "../../components/SubmissionBox.astro";
import InfoBox from "../../components/InfoBox.astro";
import ArchiveNotice from "../../components/ArchiveNotice.astro";
---

<Layout
    title="SpookyJam 2019"
    description="Official information about the third annual SpookyJam event!"
    image="thumbnails/2019.png"
>
    <ArchiveNotice/>
    <h2>Announcement</h2>
    <p>Hello everyone o/</p>
    <p>
        I am happy to announce the third annual SpookyJam event! SpookyJam is
        our fall celebration for the modded minecraft community. During
        SpookyJam mod developers create mods that have a spooky, dark, or
        mysterious theme to them. Mods that fit the fall, autumn, or any other
        seasonally relevant theme are also invited to participate.
    </p>
    <p>
        Unlike similar modding events SpookyJam is non-competitive. The focus of
        SpookyJam is learning new things, challenging yourself, and encouraging
        the creation of new content. As part of the event we will release a
        modpack to showcase participating mods. The pack will also be hosted on
        our event server which will be open to the public to play on.
    </p>
    <p>
        Participants and those following the event should use our Discord and
        the <a
            href="https://twitter.com/search?q=%23SpookyJamMC&src=typed_query&f=live"
            target="_blank">#SpookyJamMC</a
        > tag on twitter to talk about the event. We will be using this tag to share
        updates and promote posts made by participants during the event.
    </p>

    <h2>Rules</h2>
    <p>
        The following list of guidelines are in place to provide a fair
        experience for everyone. While these guidelines are not strictly
        enforced, choosing not to follow them may result in your project being
        excluded from certain parts of the event.
    </p>
    <ol>
        <li>
            Submissions should be created between the 1st of October and the
            31st of October.
        </li>
        <li>Teams are allowed. We recommend keeping to four members.</li>
        <li>Submissions should follow the general theme of SpookyJam.</li>
        <li>All assets and code should be created during the event.</li>
        <li>
            Submissions should run in a server environment without crashing.
        </li>
        <li>
            Submissions should work with Minecraft 1.14.4 and be compatible with
            the latest release of Forge and MCP.
        </li>
        <li>
            You may use any library or dependency you want, but you are
            responsible for issues caused by those dependencies.
        </li>
        <li>
            You must own or have permission to use all code and assets used by
            your submission. This means tools like MCreator are not allowed.
        </li>
    </ol>

    <p>
        Time zones for this event will be counted in the most flexible way. This
        means that the event will start when the first time zone enters October
        1st, and will end when the last time zone exits October 31st.
    </p>

    <h2>Prizes & Rewards</h2>
    <p>
        All participants who make a valid submission will receive a
        `SpookyJam2019` role on Discord. This role is purely visual and meant to
        commemorate the event. Nodecraft has also generously contributed several
        month long server subscription plans that will be given out randomly to
        eligible participants after the event is over.
    </p>
    <p>
        We also encourage everyone participating in SpookyJam to consider taking
        part in Digital Ocean's Hacktoberfest challenge. They will be giving out
        limited edition shirts and stickers to those who complete pull requests.
        Opening pull requests against any open source project on GitHub,
        including mods and other SpookyJam submissions does contribute towards
        their challenge goal. This event is not just for developers! Artists and
        translators can also participate.
    </p>

    <h2>Submissions</h2>
    <SubmissionBox year="2019" />

    <h2>Server & Modpack</h2>
    <p>
        The SpookyJam 2019 server was online for a limited period of time during
        October and is no longer accessible. You can still download and play the
        SpookyJam 2019 modpack from <a
            href="https://www.curseforge.com/minecraft/modpacks/spooky-jam-2019"
            target="_blank">CurseForge</a
        >.
    </p>

    <h2>FaQ</h2>

    <InfoBox title="Can I be part of multiple teams?">
        Yes, you may be part of multiple teams.
    </InfoBox>

    <InfoBox title="Can I submit multiple entries?">
        Yes, however spammed entries which are of very low quality may not be
        considered for the event.
    </InfoBox>

    <InfoBox title="Can I use Fabric, Forge 1.12, or Bedrock edition?">
        While this is technically allowed, we will not be considering entries
        other than those that support Forge 1.14.4 for our modpacks and
        promotion.
    </InfoBox>

    <InfoBox title="Do open source contributors count as team members?">
        No, the team member limit only counts people who are actively part of
        your team.
    </InfoBox>

    <InfoBox title="Can we have more than four team members?">
        The recommended team size is four. This recommendations is put in place
        to help newer modders join teams. This limit is not enforced however we
        recommend teaming up with people you haven't worked with before.
    </InfoBox>

    <InfoBox title="Why are there no monetary rewards this year?">
        In the past we gave out $10 USD in Curse points to random participants
        of the event. Due to changes in Curse's policy on transferring points we
        are no longer able to do this. We have considered alternatives such as
        PayPal, gift cards, stickers, shirts, and buttons however they were all
        out of our budget this time around. We may consider these for future
        events.
    </InfoBox>

    <InfoBox title="I need help coming up with an idea!">
        Learning how to improve your creative process is part of Spooky Jam's
        goal. Everyone has their own way to go about this and it is generally
        something you need to learn for yourself. Many find inspiration in the
        work of others so we recommend the following.

        <ul>
            <li>
                <a href="https://www.reddit.com/r/nosleep/" target="_blank"
                    >r/nosleep</a>
            </li>
            <li>
                <a
                    href="https://www.reddit.com/r/TwoSentenceHorror/"
                    target="_blank">r/TwoSentenceHorror</a>
            </li>
            <li>
                <a
                    href="https://cryptidz.fandom.com/wiki/Category:Cryptids"
                    target="_blank">Cryptidz Wiki</a>
            </li>
            <li>
                <a href="https://terror.ca/movies/random" target="_blank"
                    >Tales of Terror: Random Horror Movies</a>
            </li>
            <li>
                <a
                    href="https://en.wikipedia.org/wiki/Halloween"
                    target="_blank">Halloween</a>
            </li>
            <li>
                <a href="https://en.wikipedia.org/wiki/Autumn" target="_blank"
                    >Autumn</a>
            </li>
        </ul>
    </InfoBox>
</Layout>
