---
import Layout from "../../layouts/main.astro";
import SubmissionBox from "../../components/SubmissionBox.astro";
---

<Layout
    title="SpookyJam 2020"
    description="Official information about fourth annual SpookyJam event!"
>
    <h2>Announcement</h2>
    <p>Hello everyone o/</p>
    <p>
        Hello everyone, and welcome to the fourth annual SpookyJam! This is our
        fall celebration for the modded Minecraft community. During SpookyJam
        members of the community create new mods that fit the spooky, dark,
        fall/autumn seasonal theme. Participants are encouraged to challenge
        themselves and learn new skills. All of the newly created mods will be
        showcased by our team and included in our modpack and public server.
    </p>
    <p>
        You can follow the event by joining our Discord. Participants are also
        encouraged to use the `#SpookyJamMC` tag on Twitter to share their
        progress and updates.
    </p>

    <h2>Rules</h2>
    <p>
        The following list of guidelines are in place to provide a fair
        experience for all participating in the event. These guidelines are not
        strictly enforced however not following them may result in your project
        being excluded from certain aspects of the event.
    </p>
    <ol>
        <li>Projects should be made between the 1st and 31st of October.</li>
        <li>Teams are allowed. We recommend a limit of four members.</li>
        <li>Submissions should fit the theme of SpookyJam.</li>
        <li>All code and assets should be created during the event.</li>
        <li>
            Submissions should run in a server environment without crashing.
        </li>
        <li>
            Submissions should work with 1.16.3 and be compatible with the
            latest release of Forge and MCP.
        </li>
        <li>
            Third party libraries and dependencies are allowed. You&#39;re
            responsible for any issues they cause.
        </li>
    </ol>

    <p>
        The event officially starts on the 1st of October and ends on the 1st of
        November. We use the UTC time zone for this event.
    </p>

    <h2>Prizes & Rewards</h2>
    <p>
        All participants who make a valid submission will receive a
        SpookyJam2020 role on Discord. This is a visual role that commemorates
        the event. Participating projects will also be promoted by our team and
        included in the SpookyJam2020 modpack.
    </p>
    <h2>Submissions</h2>
    <SubmissionBox year="2020" />

    <h2>Server & Modpack</h2>
    <p>
        The SpookyJam 2020 server was online for a limited period of time during
        October and is no longer acessible. You can still download and play the
        SpookyJam 2020 modpack from <a
            href="https://www.curseforge.com/minecraft/modpacks/spooky-jam-2020"
            target="_blank">CurseForge</a
        >
    </p>
</Layout>
