---
import Layout from "../../layouts/main.astro";
import SubmissionBox from "../../components/SubmissionBox.astro";
import InfoBox from "../../components/InfoBox.astro";
import ArchiveNotice from "../../components/ArchiveNotice.astro";
---

<Layout
    title="SpookyJam 2020"
    description="Official information about fourth annual SpookyJam event!"
>
    <ArchiveNotice/>
    <h2>Announcement</h2>
    <p>Hello everyone o/</p>
    <p>
        Hello everyone, and welcome to the fourth annual SpookyJam! This is our
        fall celebration for the modded Minecraft community. During SpookyJam
        members of the community create new mods that fit the spooky, dark,
        fall/autumn seasonal theme. Participants are encouraged to challenge
        themselves and learn new skills. All of the newly created mods will be
        showcased by our team and included in our modpack and public server.
    </p>
    <p>
        You can follow the event by joining our Discord. Participants are also
        encouraged to use the <a
            href="https://twitter.com/search?q=%23SpookyJamMC&src=typed_query&f=live"
            target="_blank">#SpookyJamMC</a
        > tag on Twitter to share their progress and updates.
    </p>

    <h2>Rules</h2>
    <p>
        The following list of guidelines are in place to provide a fair
        experience for all participating in the event. These guidelines are not
        strictly enforced however not following them may result in your project
        being excluded from certain aspects of the event.
    </p>
    <ol>
        <li>Projects should be made between the 1st and 31st of October.</li>
        <li>Teams are allowed. We recommend a limit of four members.</li>
        <li>Submissions should fit the theme of SpookyJam.</li>
        <li>All code and assets should be created during the event.</li>
        <li>
            Submissions should run in a server environment without crashing.
        </li>
        <li>
            Submissions should work with 1.16.3 and be compatible with the
            latest release of Forge and MCP.
        </li>
        <li>
            Third party libraries and dependencies are allowed. You&#39;re
            responsible for any issues they cause.
        </li>
    </ol>

    <p>
        The event officially starts on the 1st of October and ends on the 1st of
        November. We use the UTC time zone for this event.
    </p>

    <h2>Prizes & Rewards</h2>
    <p>
        All participants who make a valid submission will receive a
        SpookyJam2020 role on Discord. This is a visual role that commemorates
        the event. Participating projects will also be promoted by our team and
        included in the SpookyJam2020 modpack.
    </p>
    <h2>Submissions</h2>
    <SubmissionBox year="2020" />

    <h2>Server & Modpack</h2>
    <p>
        The SpookyJam 2020 server was online for a limited period of time during
        October and is no longer accessible. You can still download and play the
        SpookyJam 2020 modpack from <a
            href="https://www.curseforge.com/minecraft/modpacks/spooky-jam-2020"
            target="_blank">CurseForge</a
        >.
    </p>

    <h2>FaQ</h2>

    <InfoBox title="Can I be part of multiple teams?">
        Yes, you may be part of multiple teams.
    </InfoBox>

    <InfoBox title="Can I submit multiple entries?">
        Yes, however spammed entries which are of very low quality may not be
        considered for the event.
    </InfoBox>

    <InfoBox title="Can I use Fabric, Forge 1.12, or Bedrock edition?">
        While this is technically allowed, we will not be considering entries
        other than those that support Forge 1.16.3 for our modpacks and
        promotion. If you're interested in a Fabric alternative we recommend
        checking out <a
            href="http://web.archive.org/web/20220309045722/https://modfest.net/fallfest/1.16/"
            target="_blank">FallFest.</a
        >
    </InfoBox>

    <InfoBox title="Do open source contributors count as team members?">
        No, the team member limit only counts people who are actively part of
        your team.
    </InfoBox>

    <InfoBox title="Can we have more than four team members?">
        The recommended team size is four. This recommendations is put in place
        to help newer modders join teams. This limit is not enforced however we
        recommend teaming up with people you haven't worked with before.
    </InfoBox>

    <InfoBox title="Why are there no monetary rewards this year?">
        In the past we gave out $10 USD in Curse points to random participants
        of the event. Due to changes in Curse's policy on transferring points we
        are no longer able to do this. We have considered alternatives such as
        PayPal, gift cards, stickers, shirts, and buttons however they were all
        out of our budget this time around. We may consider these for future
        events.
    </InfoBox>

    <InfoBox title="I need help coming up with an idea!">
        Learning how to improve your creative process is part of Spooky Jam's
        goal. Everyone has their own way to go about this and it is generally
        something you need to learn for yourself. Many find inspiration in the
        work of others so we recommend the following.

        <ul>
            <li>
                <a href="https://www.reddit.com/r/nosleep/" target="_blank"
                    >r/nosleep</a
                >
            </li>
            <li>
                <a
                    href="https://www.reddit.com/r/TwoSentenceHorror/"
                    target="_blank">r/TwoSentenceHorror</a
                >
            </li>
            <li>
                <a
                    href="https://cryptidz.fandom.com/wiki/Category:Cryptids"
                    target="_blank">Cryptidz Wiki</a
                >
            </li>
            <li>
                <a href="https://terror.ca/movies/random" target="_blank"
                    >Tales of Terror: Random Horror Movies</a
                >
            </li>
            <li>
                <a
                    href="https://en.wikipedia.org/wiki/Halloween"
                    target="_blank">Halloween</a
                >
            </li>
            <li>
                <a href="https://en.wikipedia.org/wiki/Autumn" target="_blank"
                    >Autumn</a
                >
            </li>
        </ul>
    </InfoBox>

    <InfoBox title="Can I submit previous an entry from a previous year?">
        Yes, entries from previous years that have been updated can be included
        in a limited capacity. We want to focus on promoting the new mods
        however previous submissions will be allowed in the modpack and server.
    </InfoBox>

    <InfoBox title="Can I submit mods that were not made for SpookyJam?">
        Yes, however this will be done on a case by case basis. We want to focus
        on promoting new submissions.
    </InfoBox>
</Layout>
