---
import Layout from "../../layouts/main.astro";
import SubmissionBox from "../../components/SubmissionBox.astro";
import InfoBox from "../../components/InfoBox.astro";
import Sponsor from "../../components/Sponsor.astro";
import ArchiveNotice from "../../components/ArchiveNotice.astro";
---

<Layout
    title="SpookyJam 2021"
    description="Official information about fifth annual SpookyJam event!"
    image="thumbnails/2021.png"
>
    <ArchiveNotice/>
    <h2>Announcement</h2>
    <p>Hello everyone o/</p>
    <p>
        Welcome to our fifth annual SpookyJam! This is our annual fall
        celebration for the modded Minecraft community. During October we hose a
        mod jam where members of the community are encouraged to create new mods
        that fit the seasonal vibe. Participants are encouraged to collaborated,
        explore new skills, and challenge themselves. During SpookyJam we also
        host a public Minecraft server where anyone can join and check out the
        mod jam submissions.
    </p>

    <h2>Rules</h2>
    <p>
        The following list of guidelines are in place to provide a fair
        experience for all participating in the event. These guidelines are not
        strictly enforced however not following them may result in your project
        being excluded from certain aspects of the event.
    </p>
    <ol>
        <li>
            Submissions must only be developed from October 1st to October 31st
            UTC. You may come up with ideas and plan your project in advance,
            but all code, assets, textures, sounds, and models must be made
            during the specified time.
        </li>
        <li>
            Submissions should fit with the broader themes of SpookyJam. These
            themes include anything that is spooky, dark, or mysterious.
            Anything that fits with the autumn/fall season is also included.
        </li>
        <li>
            Submissions must load on clients and dedicated servers without
            crashing the game. Targeting only one of these environments is fine
            as long as loading in an unsupported environment does not crash the
            game or cause the game to be unplayable.
        </li>
        <li>
            Submissions must be compatible with Minecraft 1.17.1 and either
            Forge or Fabric.
        </li>
        <li>
            Third party dependencies such as libraries, frameworks, APIs, and
            other mods are allowed. Your project will be accountable for any
            issues caused by your dependencies. You are also required to
            disclose all required dependencies when submitting your project
            through our form.
        </li>
        <li>
            Teams are allowed. There are no limits to the size of a team, and
            participants may contribute to multiple teams. If a team submission
            wins a prize, the team is responsible for deciding how that prize
            will be shared amongst its members.
        </li>
        <li>
            Submissions from our team members or those who are employed by event
            sponsors are not eligible to win prizes during this event.
            Submissions from teams that they are a part of will also not be
            eligible for winning prizes.
        </li>
        <li>
            Submissions must not contain malicious code or act in bad faith. For
            example, crashing the game, making the game unplayable, or tampering
            with other submissions are not allowed.
        </li>
        <li>
            Submissions must be uploaded to CurseForge before the submission
            deadline. They must also pass CurseForge&#39;s standard project
            review. Participants are encouraged to upload their projects as soon
            as possible, as this review process can take some time to complete.
        </li>
    </ol>

    <h2>Prizes & Rewards</h2>
    <p>
        There will be twelve cash prizes awarded to eligible submissions. All
        participants will can also claim a limited edition SpookyJam X
        CurseForge T-Shirt. The winners will be determined by a panel of judges
        composed of our team members and event sponsors. This event is sponsored
        by CurseForge who has provided the prize pool for this event.
    </p>

    <h3>Top 3 Submissions</h3>
    <p>
        The top 3 Forge submissions and the top 3 Fabric submissions will each
        be awarded the following prizes. Submissions that are compatible with
        both loaders will be considered for both categories however they may
        only win one category.
    </p>

    <ol>
        <li>1st Place - $200 USD</li>
        <li>2nd Place - $100 USD</li>
        <li>3rd Place - $50 USD</li>
    </ol>

    <h3>Bonus Prizes</h3>
    <p>
        In addition to the prizes for top 3 submissions there are six $50 USD
        bonus prizes. These prizes are awarded based on specific criteria and
        may be awarded to any eligible submission including one that received a
        top 3 prize.
    </p>

    <ol>
        <li>
            Originality - Awarded to the most fresh and original submission.
        </li>
        <li>
            Utility - Awarded to the submission that is the most useful in a
            wide variety of circumstances.
        </li>
        <li>
            Aesthetic - Awarded to the submission that looks the best visually.
        </li>
        <li>Creepy - Awarded to the creepiest submission.</li>
        <li>
            Integration (Existing) - Awarded to the submission with the best
            integration with existing mods.
        </li>
        <li>
            Integration (SpookyJam) - Awarded to the submission with the best
            integration with other SpookyJam entries.
        </li>
    </ol>

    <h2>Submissions</h2>
    <SubmissionBox year="2021" />

    <h2>Server & Modpack</h2>
    <p>
        The SpookyJam 2021 server was online for a limited period of time during
        October and is no longer accessible. You can still download and play the
        SpookyJam 2021 modpack from CurseForge for both <a
            href="https://www.curseforge.com/minecraft/modpacks/spookyjam-2021-forge-edition"
            target="_blank">Forge</a
        > and <a
            href="https://www.curseforge.com/minecraft/modpacks/spookyjam-2021-fabric-edition"
            target="_blank">Fabric</a
        >.
    </p>

    <h2>FaQ</h2>
    <InfoBox title="Can I submit multiple mods to this event?">
        Yes, you may create and submit multiple submissions to this event. If
        you are interested in doing this please take care of yourself and take
        steps to avoid stress and burnout.
    </InfoBox>

    <InfoBox title="Can I join multiple teams?">
        Yes, you may join and contribute to multiple teams. If you are
        interested in doing this we recommend being transparent with all of your
        team mates about other teams you are contributing to.
    </InfoBox>

    <InfoBox title="Can I submit the same mod for Forge and Fabric?">
        Yes, you may support both Forge and fabric with your submission. These
        submissions will be eligible for the Top 3 in both loader categories but
        may only place in one of those categories. Be advised that supporting
        both loaders is completely optional and doing so may add some unneeded
        stress. If you are still interested in doing this we recommend checking
        out the <a
            href="https://github.com/Darkhax-Forked/MultiLoader-Template"
            target="_blank">MultiLoader Template</a
        >.
    </InfoBox>

    <InfoBox title="I am not a mod dev, how can I participate?">
        Everyone is welcome to participate in SpookyJam. One of the easiest ways
        to join in is by giving participants feedback and encouragement or play
        with the mods on our public server. If you're looking to get more
        involved with the event you may be able to help with translating
        submissions, helping with textures, or contributing in other ways.
        SpookyJam is also a great opportunity to learn more about mod
        development and try to make your own mod.
    </InfoBox>

    <InfoBox title="Can I submit a mod from previous SpookyJam events?">
        Yes, previous year entries that have been updated can be resubmitted.
        These entries are not eligible for prizes and will not receive the same
        level of promotion that new submissions receive however they may be
        included in the modpack and public server.
    </InfoBox>

    <InfoBox title="Do open source contributors count as team members?">
        Open source contributors do not inherently count as team members. The
        team list is ultimately decided by the team making the project. Event
        organizers will step in if the pull request system is being abused to
        bypass event rules.
    </InfoBox>

    <InfoBox
        title="Does accepting a pull request from an ineligible person make my project ineligible?"
    >
        Accepting minor pull requests from an ineligible person is fine. A minor
        pull request in this context would be along the lines of fixing a bug or
        typo, resource optimization, or localizing the project to another
        language.
    </InfoBox>

    <InfoBox title="Does the mod need to be published on CurseForge?">
        Yes, we are only accepting mods that have been published to CurseForge.
        Having this requirement allows us to streamline the process of
        publishing the modpack and having players connect to our servers. We do
        not require that the project is exclusively on CurseForge.
    </InfoBox>

    <InfoBox title="Can I submit a mod I did not create?">
        No, only the authors of a project may submit it to SpookyJam.
    </InfoBox>

    <InfoBox title="How should teams submit their project?">
        Teams should select one team member to submit their project. Submitting
        the same project multiple times is not needed and only creates more work
        for our team. Projects should be submitted using our Google form.
    </InfoBox>

    <InfoBox title="Do I need to submit my project?">
        Yes, you must submit your project within the submission window. Projects
        should be submitted through the Google form.
    </InfoBox>

    <div id="sponsors">
        <h2>Sponsors</h2>

        <div class="grid sm:grid-cols-2 gap-y-5 sm:gap-x-6 mt-6 p-4 text-lg">
            <Sponsor
                name="CurseForge"
                logo="/events/sponsor_curseforge.png"
                link="https://www.curseforge.com"
                description="CurseForge provides hosting for mods, addons, and user content for many popular games such as Minecraft, World of Warcraft, and Among Us."
            />
            <Sponsor
                name="Nodecraft"
                logo="/events/sponsor_nodecraft.png"
                link="https://nodecraft.com"
                description="Nodecraft offers quality server hosting for many games such as Minecraft, Rust, and Factorio."
            />
        </div>
    </div>
</Layout>
