---
import Layout from "../../layouts/main.astro";
import SubmissionBox from "../../components/SubmissionBox.astro";
---

<Layout
    title="SpookyJam 2021"
    description="Official information about fifth annual SpookyJam event!"
>
    <h2>Announcement</h2>
    <p>Hello everyone o/</p>
    <p>
        Welcome to our fifth annual SpookyJam! This is our annual fall
        celebration for the modded Minecraft community. During October we hose a
        mod jam where members of the community are encouraged to create new mods
        that fit the seasonal vibe. Participants are encouraged to collaborated,
        explore new skills, and challenge themselves. During SpookyJam we also
        host a public Minecraft server where anyone can join and check out the
        mod jam submissions.
    </p>

    <h2>Rules</h2>
    <p>
        The following list of guidelines are in place to provide a fair
        experience for all participating in the event. These guidelines are not
        strictly enforced however not following them may result in your project
        being excluded from certain aspects of the event.
    </p>
    <ol>
        <li>
            Submissions must only be developed from October 1st to October 31st
            UTC. You may come up with ideas and plan your project in advance,
            but all code, assets, textures, sounds, and models must be made
            during the specified time.
        </li>
        <li>
            Submissions should fit with the broader themes of SpookyJam. These
            themes include anything that is spooky, dark, or mysterious.
            Anything that fits with the autumn/fall season is also included.
        </li>
        <li>
            Submissions must load on clients and dedicated servers without
            crashing the game. Targeting only one of these environments is fine
            as long as loading in an unsupported environment does not crash the
            game or cause the game to be unplayable.
        </li>
        <li>
            Submissions must be compatible with Minecraft 1.17.1 and either
            Forge or Fabric.
        </li>
        <li>
            Third party dependencies such as libraries, frameworks, APIs, and
            other mods are allowed. Your project will be accountable for any
            issues caused by your dependencies. You are also required to
            disclose all required dependencies when submitting your project
            through our form.
        </li>
        <li>
            Teams are allowed. There are no limits to the size of a team, and
            participants may contribute to multiple teams. If a team submission
            wins a prize, the team is responsible for deciding how that prize
            will be shared amongst its members.
        </li>
        <li>
            Submissions from our team members or those who are employed by event
            sponsors are not eligible to win prizes during this event.
            Submissions from teams that they are a part of will also not be
            eligible for winning prizes.
        </li>
        <li>
            Submissions must not contain malicious code or act in bad faith. For
            example, crashing the game, making the game unplayable, or tampering
            with other submissions are not allowed.
        </li>
        <li>
            Submissions must be uploaded to CurseForge before the submission
            deadline. They must also pass CurseForge&#39;s standard project
            review. Participants are encouraged to upload their projects as soon
            as possible, as this review process can take some time to complete.
        </li>
    </ol>

    <h2>Prizes & Rewards</h2>
    <p>
        There will be twelve cash prizes awarded to eligible submissions. All
        participants will can also claim a limited edition SpookyJam X
        CurseForge T-Shirt. The winners will be determined by a panel of judges
        composed of our team members and event sponsors. This event is sponsored
        by CurseForge who has provided the prize pool for this event.
    </p>

    <h3>Top 3 Submissions</h3>
    <p>
        The top 3 Forge submissions and the top 3 Fabric submissions will each
        be awarded the following prizes. Submissions that are compatible with
        both loaders will be considered for both categories however they may
        only win one category.
    </p>

    <ol>
        <li>1st Place - $200 USD</li>
        <li>2nd Place - $100 USD</li>
        <li>3rd Place - $50 USD</li>
    </ol>

    <h3>Bonus Prizes</h3>
    <p>
        In addition to the prizes for top 3 submissions there are six $50 USD
        bonus prizes. These prizes are awarded based on specific criteria and
        may be awarded to any eligible submission including one that received a
        top 3 prize.
    </p>

    <ol>
        <li>
            Originality - Awarded to the most fresh and original submission.
        </li>
        <li>
            Utility - Awarded to the submission that is the most useful in a
            wide variety of circumstances.
        </li>
        <li>
            Aesthetic - Awarded to the submission that looks the best visually.
        </li>
        <li>Creppy - Awarded to the creepiest submission.</li>
        <li>
            Integration (Existing) - Awarded to the submission with the best
            integration with existing mods.
        </li>
        <li>
            Integration (SpookyJam) - Awarded to the submission with the best
            integration with other SpookyJam entries.
        </li>
    </ol>

    <h2>Submissions</h2>
    <SubmissionBox year="2021" />

    <h2>Server & Modpack</h2>
    <p>
        The SpookyJam 2020 server was online for a limited period of time during
        October and is no longer acessible. You can still download and play the
        SpookyJam 2020 modpack from CurseForge for both <a
            href="https://www.curseforge.com/minecraft/modpacks/spookyjam-2021-forge-edition"
            target="_blank">Forge</a
        > and <a
            href="https://www.curseforge.com/minecraft/modpacks/spookyjam-2021-fabric-edition"
            target="_blank">Fabric</a
        >.
    </p>
</Layout>
